<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><img src="https://dzpp79ucibp5a.cloudfront.net/events_banners/82754_normal_1541409265_heroku.png" /></p>
<!--    <p><img src="http://www.perfume-web.jp/img/fp-og.jpg" /></p> -->
  </body>
</html>
