<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><img src="http://kashiyuka.info/images/sfggjp19.png" /></p>
<!--    <p><img srcP"http://www.perfume-web.jp/img/fp-og.jpg" /></p> -->
  </body>
</html>
