<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <p><img src="https://www.perfume-web.jp/assets/img/top/mainvisual@2x.jpg" /></p>
  <p><script src="//rum-static.pingdom.net/pa-5c3886ad1872b500160001d0.js" async></script></p>
</body>

</html>