<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <p><img src="https://www.universal-music.co.jp/perfume/wp-content/uploads/sites/697/2018/06/um_header_perfume1806.jpg" /></p>
</body>

</html>